 <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase"> <!-- the code for the start of my nav bar -->
   <img src= "assets/logo.png" class ="logo-nav" >
    <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
      data-toggle="collapse" data-target="#mobileMenu">
      <i class="fas fa-bars"></i>
    </button>
 <div class="collapse navbar-collapse" id="mobileMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/calender">Calender</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Guidance</a> 
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Log Out</a> 
        </li>
      </ul>
    </div>
  </nav>
  </nav>

<section class="bodyContentContact"> <!-- the body class content for this specific page -->
<div clas="containercontact"> <!-- the start of the container -->
  <h2 class="contact"> Contact Us </h2> <!-- the header within my container and text-center and padding top -->
  <hr>
  <form class = "formedit" action="https://formspree.io/daniel.smith-18@students.plymouth.ac.uk" method="POST"> <!-- the email which the form will send the emails submitted to -->
    {{> contactsForm}}
  <div class="divider"></div>
    <div class="row">
        {{> contactsList}}
    </div>
</div>

<footer class="text-center mt-4 pt-4"> <!-- the start of my footer. centering the text and applying margin top and padding top -->
        <small>Copyright &copy; </small> <!-- adding the Copyright text and logo at the bottom of my footer -->
</footer>
</section>